.App {
  height: 100vh;
  text-align: center;
}

div.spinner-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actors-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
